
<html>
淘宝
<!---第一个form提交数据--->
<form action='https://s.taobao.com/search'>
	<input type='text' name='q'>
	<input type="submit" value='search'>
</form>
<!---http://so.51cto.com/?keywords=test&sort=time--->
51cto博客
<form action="http://so.51cto.com/">
	<input type='text' name='keywords'>
	<input type="submit" value='search'>
</form>
<!-----adduser----->
<p>前端实现添加用户</p>
<form action='/adduser'>
	name:<input type='text' name='name'>
	password:<input type='password' name='password'>
	<input type='submit' value='add'>
</form>
</html>
