<!--adduser-->
<html>
	<form action='/register' method='POST'>
	<table>
		<tr>
			<td>Name<input type='text' name='name'></td>
		</tr>
		<tr>
			<td>Name_cn<input type='text' name='name_cn'></td>
                </tr>
                <tr>
			<td>Password<input type='password' name='password'></td>
                </tr>
                <tr>
			<td>RePassword<input type='password' name='repassword'></td>
                </tr>
                <tr>
			<td>email<input type='text' name='email'></td>
                </tr>
                <tr>
			<td>mobile<input type='text' name='mobile'></td>
                </tr>
                <tr>
			<td>role<select name='role' id='role'>
			<option value="admin">管理员</option>
			<option value="user">普通用户</option>
			<option value="sa">运维</option>
			</td>
                </tr>
                <tr>
			<td>status<input type='radio' name='status' value='unlock'>正常<input type='radio' name='status' value='lock'>锁定</td>
			<td><input type='submit' value='ok'></td>
		</tr></table>
	</form>
</html>
