<html>
<table border='1px'>	
	<thead>	
	<tr>
		<th>Name</th>
		<th>Name_cn</th>
		<th>Email</th>
		<th>Mobile</th>
		<th>Role</th>
		<th>Status</th>
		<th>Create_time</th>
		<th>操作</th>
	</tr>
	</thead>
	<tbody>
		{% for user in users %}
		<tr>
                <td>{{ user.name }}</td>
                <td>{{ user['name_cn'] }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.mobile }}</td>
                <td>{{ user.role }} </td>
                <td>{{ user.status }}</td>
                <td>{{ user.create_time }} </td>
                <td><a href = "/update?id={{user['id']}}">更新</a></td>
                <td><a href = "/delete?id={{user['id']}}">删除</a></td>
                </tr>
		{% endfor %}
	</tbody>
</table>
</html>
