<html>
<div>
	<form action='/test' method="POST">
		<label>性别</label>
		<tr><input type='radio' name='sex' value='man'>男<input type='radio' name='sex' value='woman'>女</tr>
		<br>
		<label>爱好</label>
		<tr><input type="checkbox" name='likes' value='aaa'>篮球<input type="checkbox" name='likes' value='bbb'>台球<input type="checkbox" name='likes' value='ccc'>睡觉<tr>
		<br>
		<label>时间</label>
		<tr><input type="date" name='subtime'></tr>
		<br>
		<label>颜色</label>
		<tr><input type="color" name='subcolor'></tr>
		<br>
		<tr><input type="submit" value='ok'></tr>
	</form>
</div>
</html>
